@media (max-width: 900px) {
  /* line 7, ../sass/breakpoints.scss */
  #container .image_grid_container li {
    width: 48%;
  }
}
@media (max-width: 600px) {
  /* line 18, ../sass/breakpoints.scss */
  #container #header .menu .links li:last-child {
    display: none;
  }
  /* line 24, ../sass/breakpoints.scss */
  #container .image_grid_container li {
    width: 98%;
  }
  /* line 29, ../sass/breakpoints.scss */
  #container .pitch_customer_referrals .table_people li:last-child {
    display: none;
  }
}
@media (max-width: 500px) {
  /* line 37, ../sass/breakpoints.scss */
  body {
    font-size: 0.8em;
  }
  /* line 39, ../sass/breakpoints.scss */
  body #container {
    padding: 0 1.2em;
  }
  /* line 42, ../sass/breakpoints.scss */
  body #container #header .logo {
    max-width: 120px;
  }
  /* line 45, ../sass/breakpoints.scss */
  body #container #header .menu .links li {
    line-height: 2.5em;
  }
  /* line 49, ../sass/breakpoints.scss */
  body #container #footer {
    width: 255px;
    font-size: 0.9em;
    margin: 0 auto 1em;
  }
  /* line 55, ../sass/breakpoints.scss */
  body #container .pitch_customer_referrals .table_people li {
    display: block;
    width: 96%;
  }
  /* line 59, ../sass/breakpoints.scss */
  body #container .pitch_customer_referrals .table_people li:last-child {
    display: block;
  }
  /* line 64, ../sass/breakpoints.scss */
  body h3 {
    line-height: 1em;
  }
}
@media (max-width: 320px) {
  /* line 71, ../sass/breakpoints.scss */
  body {
    font-size: 0.72em;
  }
  /* line 73, ../sass/breakpoints.scss */
  body #container {
    padding: 0 1.2em;
  }
  /* line 75, ../sass/breakpoints.scss */
  body #container #header {
    padding: 1.2em 0 0;
  }
  /* line 77, ../sass/breakpoints.scss */
  body #container #header .logo {
    max-width: 100px;
  }
  /* line 80, ../sass/breakpoints.scss */
  body #container #header .menu .links li {
    line-height: 2.5em;
  }
  /* line 84, ../sass/breakpoints.scss */
  body #container #footer {
    width: 255px;
    font-size: 0.9em;
    margin: 0 auto 1em;
  }
  /* line 90, ../sass/breakpoints.scss */
  body #container .pitch_customer_referrals ul.table_people {
    padding: 2em 0;
  }
  /* line 92, ../sass/breakpoints.scss */
  body #container .pitch_customer_referrals ul.table_people li {
    display: block;
    width: 96%;
  }
  /* line 96, ../sass/breakpoints.scss */
  body #container .pitch_customer_referrals ul.table_people li:last-child {
    display: block;
  }
  /* line 102, ../sass/breakpoints.scss */
  body h3 {
    line-height: 1em;
  }
}
