/* line 7, ../sass/button.scss */
.button_small {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #105296;
  border-bottom: 3px solid #105296;
  background: #0066cc;
  padding: 0.2em 1em;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}
/* line 16, ../sass/button.scss */
.button_small a {
  color: white;
  text-decoration: none;
}
