/* line 9, ../sass/button.scss */
a.button_small, a.button_large {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #105296;
  border-bottom: 3px solid #105296;
  background: #0066cc;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

/* line 20, ../sass/button.scss */
a.button_small {
  padding: 0 1em;
  font-size: 0.9em;
  line-height: 2.4em;
}

/* line 26, ../sass/button.scss */
a.button_large {
  padding: 0.75em 1em;
  line-height: 1em;
  font-size: 1.5em;
}

/* line 32, ../sass/button.scss */
.button_small:hover, .button_large:hover {
  background-color: #4f8fce;
}

/* line 35, ../sass/button.scss */
.button_small:active, .button_large:active {
  background-color: #124f8b;
  border-bottom-width: 1px;
  margin-top: 2px;
}
