/* line 4, ../sass/content.scss */
#content {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../sass/content.scss */
#content .pitch_main {
  margin: 3em auto;
  max-width: 960px;
}
/* line 11, ../sass/content.scss */
#content .pitch_text_block {
  margin: 3em auto;
  max-width: 680px;
}
/* line 15, ../sass/content.scss */
#content .pitch_customer_referrals {
  max-width: 1060px;
  margin: 3em auto;
}
