/* line 4, ../sass/content.scss */
#content {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../sass/content.scss */
#content .pitch_main, #content .pitch_text_block {
  width: 968px;
  margin: auto;
}
