/* line 4, ../sass/header.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  padding: 2em 2.5em;
}
/* line 8, ../sass/header.scss */
#header .logo {
  float: left;
}
/* line 12, ../sass/header.scss */
#header .menu {
  float: right;
}
/* line 16, ../sass/header.scss */
#header .links {
  float: right;
}
/* line 18, ../sass/header.scss */
#header .links li {
  float: left;
  padding-right: 1em;
  line-height: 2.1em;
}
/* line 25, ../sass/header.scss */
#header .button_small {
  float: right;
}
