/* line 4, ../sass/header.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  padding: 1.2em 0 0;
}
/* line 8, ../sass/header.scss */
#header .logo {
  float: left;
  max-width: 160px;
}
/* line 11, ../sass/header.scss */
#header .logo img {
  width: 100%;
}
/* line 16, ../sass/header.scss */
#header .menu {
  float: right;
}
/* line 20, ../sass/header.scss */
#header .links {
  float: right;
}
/* line 22, ../sass/header.scss */
#header .links li {
  float: left;
  padding-right: 1em;
  line-height: 2.1em;
}
/* line 29, ../sass/header.scss */
#header .button_small {
  float: right;
}
