@import "compass/css3";

$blue: #06C;
$dark_blue:#105296;
$link_color:#fff;

.button_small{
	@include border-radius(3px);
	border-color:$dark_blue;
	border-bottom:3px solid $dark_blue;
	background: $blue;
	padding:0.2em 1em;
	color:$link_color;
	font-size:0.9em;
	font-weight:bold;
	a{
		color:$link_color;
		text-decoration:none;
	}
}
