@import "compass/css3";

$blue: #06C;
$dark_blue:#105296;
$blue_hover:#4F8FCE;
$link_color:#fff;
$click_state:#124F8B;

a.button_small, a.button_large{
	@include border-radius(3px);
	border-color:$dark_blue;
	border-bottom:3px solid $dark_blue;
	background: $blue;
	color:$link_color;
	font-weight:bold;
	text-decoration:none;
	display:inline-block;
}

a.button_small{
	padding:0 1em;
	font-size:0.9em;
	line-height:2.4em;
}

a.button_large{
	padding:0.75em 1em;
	line-height:1em;
	font-size:1.5em;
}

.button_small:hover, .button_large:hover{
	background-color:$blue_hover;
}
.button_small:active, .button_large:active{
	background-color:$click_state;
	border-bottom-width:1px;
	margin-top:2px;
}
