@import "compass/css3";
@import "compass/utilities/general/clearfix";

#content{
	@include clearfix;
	p{
		font-family:'Open Sans';		
	}
	
	.pitch_main{
		margin:3em auto;
		max-width:820px;
	}
 .pitch_text_block{
		margin:3em auto;
		max-width:680px;
	}
	.pitch_customer_referrals{
		max-width:1060px;
		margin:3em auto;
	}

}
