@import "compass/css3";
@import "compass/utilities/general/clearfix";

#content{
	@include clearfix;
	
	.pitch_main{
		margin:2em auto;
		width:960px;
	}
 .pitch_text_block{
		margin:2em auto;
		width:680px;
	}

}
