@import "compass/css3";
@import "compass/utilities/general/clearfix";

#header{
	@include clearfix;
	padding:1.2em 0 0;

	.logo{
		float:left;
		max-width:160px;
		img{
			width:100%;
		}
	}

	.menu{
		float:right;
	}

	.links{
		float:right;
		li{
			float:left;
			padding-right:1em;
			line-height:2.1em;
		}
	}

	.button_small{
		float:right;
	}

}
