@import "compass/css3";
@import "compass/utilities/general/clearfix";

.image_wrapper_large{
	text-align:center;
	margin:2em;
}

.image_grid_container{
	@include clearfix;
	margin:2em;
	ul{
		display:table;
		width:100%;
		@include clearfix;
	}
	li{
		display:table-cell;
		background:rgba(0,0,0,0.02);
		height:300px;
		text-align:center;
		vertical-align:middle;
		border:1px dashed rgba(0,0,0,0.2);
	}
	.img_square{
		width:23%;
	}
	.img_rect{
		height:48%;
	}
}

.image_circle_container{
	text-align:center;
	margin:2em;
}
