@import "compass/css3";

body{
	font-family: 'Montserrat', sans-serif;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	font-size: 1.25em;
	line-height: 1.35em;
}

a:link, a:visited{
	color:#0066cc;
}
